@import "tailwindcss";
@import "tailwindcss/utilities";

@layer utilities {
  .font-anime {
    font-family: var(--font-anime-ace) !important;
  }
  .font-action {
    font-family: var(--font-action-man) !important;
  }
  .font-smack {
    font-family: var(--font-smack-attack) !important;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}